email,project,own
ak12347@yourdomain.com,camp,True
asm1234@yourdomain.com,camp,True
mn1234@yourdomain.com,camp,True
si1234@yourdomain.com,camp,True
sk12341@yourdomain.com,camp,True
ci1234@yourdomain.com,commyounity,True
lj1234@yourdomain.com,commyounity,False
vp1234@yourdomain.com,commyounity,False
xs1234@yourdomain.com,commyounity,False
yf1234@yourdomain.com,commyounity,False
cp1234@yourdomain.com,gesturetalk,True
jf1234@yourdomain.com,gesturetalk,True
tc1234@yourdomain.com,gesturetalk,True
vl1234@yourdomain.com,gesturetalk,True
wht1234@yourdomain.com,gesturetalk,True
amp12348@yourdomain.com,moodsphere,True
pgl1234@yourdomain.com,moodsphere,True
sb1234@yourdomain.com,moodsphere,True
sd1234@yourdomain.com,moodsphere,True
sar1234@yourdomain.com,moodsphere,False
ij1234@yourdomain.com,musi,True
acc1234@yourdomain.com,musi,False
dy1234@yourdomain.com,musi,False
jl12347@yourdomain.com,musi,False
zk1234@yourdomain.com,musi,False
nw1234@yourdomain.com,nourishpet,True
sm12344@yourdomain.com,nourishpet,True
sz1234@yourdomain.com,nourishpet,True
yn1234@yourdomain.com,nourishpet,True
zy1234@yourdomain.com,nourishpet,True
aa12349@yourdomain.com,random_bioplastic,True
at1234@yourdomain.com,random_bioplastic,True
bb1234@yourdomain.com,random_bioplastic,True
bg1234@yourdomain.com,random_bioplastic,True
gmo1234@yourdomain.com,random_bioplastic,True
av1234@yourdomain.com,random_carquaise,False
cj1234@yourdomain.com,random_carquaise,False
jc12348@yourdomain.com,random_carquaise,False
ll1234@yourdomain.com,random_carquaise,False
mxf1234@yourdomain.com,random_carquaise,False
ahc1234@yourdomain.com,random_chloranthaceous,True
ar1234@yourdomain.com,random_chloranthaceous,True
jw1234@yourdomain.com,random_chloranthaceous,True
ss12345@yourdomain.com,random_chloranthaceous,True
yl12340@yourdomain.com,random_chloranthaceous,True
am12347@yourdomain.com,random_discommendableness,True
ap1234@yourdomain.com,random_discommendableness,True
mnm497@yourdomain.com,random_discommendableness,True
ss12342@yourdomain.com,random_discommendableness,True
yz1234@yourdomain.com,random_discommendableness,True
las1234@yourdomain.com,random_mabel,True
lhs1234@yourdomain.com,random_mabel,True
sg1234@yourdomain.com,random_mabel,True
keh1234@yourdomain.com,random_mabel,False
prc1234@yourdomain.com,random_mabel,False
cc1234@yourdomain.com,random_newfangledness,False
esv1234@yourdomain.com,random_newfangledness,False
ez1234@yourdomain.com,random_newfangledness,False
jk1234@yourdomain.com,random_newfangledness,False
sa1234@yourdomain.com,random_newfangledness,False
cg1234@yourdomain.com,random_overwasted,False
ea1234@yourdomain.com,random_overwasted,False
nu1234@yourdomain.com,random_overwasted,False
ryt1234@yourdomain.com,random_overwasted,False
yd1234@yourdomain.com,random_overwasted,False
hs1234@yourdomain.com,random_pasteurize,True
mme1234@yourdomain.com,random_pasteurize,True
sw1234@yourdomain.com,random_pasteurize,True
xz1234@yourdomain.com,random_pasteurize,True
yl12347@yourdomain.com,random_pasteurize,True
ma1234@yourdomain.com,random_shillet,True
mm12341@yourdomain.com,random_shillet,True
st1234@yourdomain.com,random_shillet,True
vfc1234@yourdomain.com,random_shillet,True
yk1234@yourdomain.com,random_shillet,True
jc12341@yourdomain.com,random_skiddingly,True
nj1234@yourdomain.com,random_skiddingly,True
sj1234@yourdomain.com,random_skiddingly,True
so1234@yourdomain.com,random_skiddingly,True
ss12346@yourdomain.com,random_skiddingly,True
ajh773@yourdomain.com,random_tirthankara,False
br1234@yourdomain.com,random_uncome,True
aca1234@yourdomain.com,random_uncome,False
ae1234@yourdomain.com,random_uncome,False
ojo1234@yourdomain.com,random_uncome,False
xl1234@yourdomain.com,random_uncome,False
cb1234@yourdomain.com,random_undereye,True
dhh1234@yourdomain.com,random_undereye,True
nb1234@yourdomain.com,random_undereye,True
ns1234@yourdomain.com,random_undereye,True
zs1234@yourdomain.com,random_undereye,True
ml1234@yourdomain.com,roomiehub,True
mds831@yourdomain.com,roomiehub,False
oso1234@yourdomain.com,roomiehub,False
tnz1234@yourdomain.com,roomiehub,False
yl12349@yourdomain.com,roomiehub,False
ab12345@yourdomain.com,swapbay,True
and1234@yourdomain.com,swapbay,True
hbm1234@yourdomain.com,swapbay,True
ks1234@yourdomain.com,swapbay,True
sad1234@yourdomain.com,swapbay,True
ab12348@yourdomain.com,taskbank,True
sp1234@yourdomain.com,taskbank,True
ss12344@yourdomain.com,taskbank,True
sk12349@yourdomain.com,taskbank,False
wc1234@yourdomain.com,taskbank,False
aib1234@yourdomain.com,tickerpickr,True
lst1234@yourdomain.com,tickerpickr,True
jls1234@yourdomain.com,tickerpickr,False
mk1234@yourdomain.com,tickerpickr,False
mmc12340@yourdomain.com,tickerpickr,False
