owner,repo,created,project
janedoe,project-proposal,2026-09-12,Study Buddy
jsmith42,project-proposal,2026-09-13,CampusEats
akumar,project-proposal,2026-09-13,CampusEats
mlee-nyu,agile-project-proposal,2026-09-14,ParkFinder
rgarcia,project-proposal,2026-09-14,
